body{
    margin:0;
    padding: 0;
    background-color: black;
}
.navbar-custom{
    background: linear-gradient(205.07deg, #10FF53 15.94%, rgba(255, 255, 255, 0) 320.88%), #2D9712;
    color: #ffffff;
}

.top-Nav{
    position: absolute;
    height: 35px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: linear-gradient(184.33deg, #10FF53 15.94%, rgba(255, 255, 255, 0) 320.88%), #2D9712;
}

.title{
   /* SourSop */
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #11F90C;
    width: auto;


}
.footer-color{
    height: 40vh;
    width: 100%;
    background: linear-gradient(205.07deg, #10FF53 15.94%, rgba(255, 255, 255, 0) 320.88%), #2D9712;

}

.content{
    height:10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    
    /* identical to box height */
    color: #11F90C;

}

.form{
    color: #ffffff;
    font-family: Poppins;
    font-weight: 600;
    height: 80vh;
    margin: 2em;
}