body{
    margin:0;
    padding: 0;
    background-color: black;
}
.navbar-custom{
    background: linear-gradient(205.07deg, #10FF53 15.94%, rgba(255, 255, 255, 0) 320.88%), #2D9712;
    color: #ffffff;
}

.top-Nav{
    position: absolute;
    height: 35px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: linear-gradient(184.33deg, #10FF53 15.94%, rgba(255, 255, 255, 0) 320.88%), #2D9712;
}

.title{
   /* SourSop */
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #11F90C;
    width: auto;


}
.footer-color{
    height: 40vh;
    width: 100%;
    background: linear-gradient(205.07deg, #10FF53 15.94%, rgba(255, 255, 255, 0) 320.88%), #2D9712;

}

.content{
    height:80vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    
    /* identical to box height */
    
    color: #11F90C;

}


.title{
    /* SourSop */
 
     position: absolute;
     width: 272px;
     height: 96px;
     left: calc(50% - 272px/2);
     top: calc(40% - 96px/2 - 38px);
 
     font-family: Poppins;
     font-style: normal;
     font-weight: 600;
     font-size: 64px;
     line-height: 96px;
 
 /* identical to box height */
 
 color: #11F90C;
 }
 
 .caption{
     /* St. Lucian Kweyol /English Dictionary */
     display: flex;
     padding-top: 40px;
     align-items: center;
     position: absolute;
     width: 216px;
     height: 18px;
     left: calc(50% - 216px/2 - 11px);
     top: calc(39% - 18px/2 + 10px);
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 18px;
     
 
     /* identical to box height */
 
     color: rgba(0, 0, 0, 0.47);
 }
 
 .main-content{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 60vh;
 }
 .search{
     position:fixed;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     width: 333px;
     height: 31px;
     top: calc(54% - 18px/2 + 10px);
     padding-bottom: 10px;
 }
 button{
     width: 333px;
     height: 30px;
 }
 
 a{
     text-decoration: none;
     color: black;
 }
 
 
 .box{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 